

header{
    background-color: black;
    opacity: 85%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

img {
    border-radius: 15px;
    box-shadow: 2px 2px 4px #000000;
}

body{
    font-family: 'Poppins', roboto;
    background-image: url(../images/lighting3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

.card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
}

.card-header{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 25px;
}
.card {
    padding: 10px;
    width: 300px;
    text-align: center;
    border-style: hidden;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 85%;
    flex: 0 0 400px;
    align-items: center;
    margin:auto;
    border-radius: 25px;
}

.card-text {
    color: white;
    text-shadow: 2px 2px 4px #000000
}

h1 {
    text-align: center;
}

.carousel {
    display: block;
    margin: 0 auto;
    height: 500px;
    text-align: center;
}

.carousel-header {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

.carousel-inner img {
    margin: auto;
}

Contacts {
    color: white;
    text-shadow: 1px 1px 2px #000000;

}

